<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        <%- include('./style.ejs') %>    
    </style>
</head>
<body>
    <%- include('./body.ejs') %>
</body>
</html>